@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This site was created to help those of us with a large collection of Disney films.
    On this site you can add movies that are not on the list, edit or delete movies that you would like on the list or just view the current list.</p>
