@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This page is yet to be updated. I need to go over the "Create an About Page That Shows Student Statistics" in the "Sorting, Filtering and Paging" section of the MS Docs that I've been following along.</p>
