@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    411 Hillcrest Ave.<br />
    Louisville, KY 40206-1508<br />
    <abbr title="Phone">P:</abbr>
    502.533.7404
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:doldrone@bellsouth.net">Support from Ted.</a><br />
    <strong>Marketing:</strong> <a href="mailto:doldrone@bellsouth.net">Tell me what you think.</a>
</address>