@{
    ViewBag.Title = "Home Page";
}
@*Added internal styling to override Bootstrap.*@
<style>
    h1 {
        font-family: 'Gochi Hand', 'Rock Salt', Bradley Hand, cursive !important;
        font-size: 85px !important;
    }
</style>
<div class="jumbotron">
    <h1>Disney Film List</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Disney Film List</h2>
        <p>
            Feel free to view, add or delete from the list as you like.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Complete Disney film list</h2>
        <p>Here you can see all films released by Disney</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/List_of_Walt_Disney_Pictures_films">View the complete list &raquo;</a></p>
    </div>
</div>